.callPage{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #000;
    right:0;
    margin: 0 auto;
    max-width: 640px;
    .selfVideoWarp {
        position: absolute;
        top:0;
        right: 0;
        z-index: 11;
        width: 120px;
        border-radius: 3px;
        overflow: hidden;
        video{
            width:100%;
        }
    }
    div.callClose{
        position: absolute;
        width: 45px;
        height: 45px;
        bottom: 13px;
        left: 0;
        right: 0;
        margin: 0 auto;
        img{
            height: 100%;
            width: 100%;
        }
    }
}